<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @comment.usuario %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @comment.comentario %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comment.fecha %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.Post %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
